<h1>Signup</h1>
<br />
<br />
<form action='/signup' method='POST'>
  <label>Username: <input type='text' name='username' id='username' /></label>
  <br />
  <label>Email: <input type='text' name='email' id='user_email' /></label>
  <br />
  <label>Password: <input type='text' name='password' /></label>
  <br />
  <br />
  <input type="submit" value="Submit">
</form>
