<h2>New Post</h2>
<br />
<br />
<form action='/posts' method='POST'>
  <label>Post: <input type='text' name='content' id='content' /></label>
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="submit">
</form>
