<h2>New Post</h2>
<br />
<br />
<form action='/posts' method='POST'>
  <label>Title: <input type='text' name='title' id='title' /></label>
  <label>Post: <input type='text' name='content' id='content' /></label>
  <%Tag.all.each do |tag| %>
  	<input type="checkbox" name="tags[]" value="<%=tag.id%>" id="<%=tag.name%>"><%=tag.name%></input>
  <%end%>
  <br />
  <label>New Tag: <input type="text" name="tag_name"></input></label>
  <br />
  <input type="submit" value="submit">
</form>
