<h1>Welcome</h1>
<br />
<br />
<%if !logged_in?%>
  <a href='/signup'>Create an Account</a>
<%else%>
  <a href='/posts'>View Posts</a>
<%end%>
<br />
<br />
<%if !logged_in?%>
  <a href='/login'>Login</a>
<%else%>
  <a href='/logout'>Logout</a>
<%end%>
